:root {
  font-family: sans-serif;
  font-size: 1.25rem;
  background-color: #19151b;
  color: #ffe3fb;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 960px;
  padding: 1em;
  margin: 0 auto;
}

header {
  margin-bottom: 1em;
}

a {
  color: #b57fdc;
  text-decoration: none;
  border-bottom: 1px solid #b57fdc;
}

aside {
  display: inline-block;
  font-size: 0.8em;
}

input[type="text"] {
  padding: 0.25em;
  margin: 0.125em;
  font-size: 1.125rem;
  width: 8ch;
  outline: none;
  border-radius: 0.25em;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: black;

  &:focus {
    border-color: rgb(141, 255, 208);
  }
}

#log-input {
  width: 100%;
  min-height: 6em;
  max-height: 8lh;
  background: #110e12;
  color: #ffe3fb;
  border: 1px solid #4a3a50;
  border-radius: 0.25em;
  padding: 0.5em;
  font-family: monospace;
  font-size: 0.8rem;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
  margin-bottom: 1em;

  &::placeholder {
    color: #7a5a80;
  }

  &:focus {
    border-color: #b57fdc;
  }
}

.log-grid {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 0 0.75em;
  font-family: monospace;
  font-size: 0.875rem;
}

.log-line {
  display: contents;
}

.log-time {
  color: #7a5a80;
  white-space: nowrap;
  user-select: none;
}

.log-nick {
  text-align: right;
  white-space: nowrap;
  color: #b57fdc;
  font-weight: bold;
}

.log-text {
  word-break: break-word;
}

.log-join {
  & .log-nick,
  & .log-text {
    color: #5a7a5a;
    font-style: italic;
  }
}

.log-action {
  & .log-nick,
  & .log-text {
    color: #d4a8e0;
    font-style: italic;
  }
}
